body {
	font-family: "DotGothic16", sans-serif;
	margin: 0;
	background-color: dimgray;
	color: black;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	box-sizing: border-box;
}

header {
	display: flex;
	max-height: 64px;
	justify-content: center;
	padding: 8px;
}

.settings {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	width: 10%;
	max-height: 32px;
	text-align: center;
	margin-left: auto;
	background-color: lightgray;
}

.settings:hover {
	background-color: darkgray;
}

.settings:active {
	background-color: black;
	color: white;
}

.settingsWidjet {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#height {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border: 1px solid white;
}

#width {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border: 1px solid white;
}

#choseDisplayResButton {
	background-color: lightgray;
	border: 1px solid white;
	padding: 9px;
}

.workspace {
	max-width: 800px;
	width: 80%;
	background-color: darkgray;
	display: flex;
}

.display {
	max-width: 800px;
	margin: 8px;
	margin-right: 0px;
	background-image: url(./images/displayBackgroud.jpg);
	flex: 17;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tools {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.tools div {
	max-height: 10%;
	margin: 8px;
	border: 1px solid black;
	background-color: lightgray;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: flex-end;
	aspect-ratio: 1/1;
}

#brush {
	background-image: url(./images/brush.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#remover {
	background-image: url(./images/remover.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#bucket {
	background-image: url(./images/backet.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#pipette {
	background-image: url(./images/pipette.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#undo {
	background-image: url(./images/undo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#redo {
	background-image: url(./images/redo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.functions {
	max-width: 1000px;
	display: flex;
	justify-content: center;
	margin-top: 8px;
	gap: 8px;
	width: 80%;
}

.functions div {
	max-width: 8%;
	margin: 8px;
	border: 1px solid black;
	background-color: lightgray;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: flex-end;
	aspect-ratio: 1/1;
}

#save {
	background-image: url(./images/save.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#palette {
	background-image: url(./images/palet.png);
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center;
}

#clear {
	background-image: url(./images/clear.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#load {
	display: none;
}

.tools div:hover {
	background-color: darkgray;
}

.functions div:hover {
	background-color: darkgray;
}

.tools div:active {
	background-color: black;
	color: white;
}

.functions div:active {
	background-color: black;
	color: white;
}

.paleteWidjet {
	margin-left: 8px;
	margin-top: 64px;
	display: none;
	align-items: center;
	flex-flow: column nowrap;
	gap: 8px;
}

.paletButonAndDisplay {
	display: flex;
	gap: 8px;
}

.chousenColor {
	padding: 8px;
	border: 1px solid white;
	color: white;
}

.choseButton {
	background-color: darkgray;
	padding: 8px;
	border: 1px solid white;
}

